/** APPLICATION VIEW - START */

.applicationContainer {
	width: 100%;
	height: 100%;
}

.mainToolbar{
	margin: 0 auto;
	padding: 10px;
}

.viewsToolbar {
	margin: 0 auto;
}

.mainContainer {
	width: 100%;
	height: 100%;
}

/** APPLICATION VIEW - END */
